{% extends 'base_registration.html' %}

{% block content %}
    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
            Autenticação
        </h2>
        <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">
            Mais alguns cliques para fazer login em sua conta.
        </div>
        <div class="intro-x mt-8">
            <!-- BEGIN: Alerts -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'alert-danger' %}
                        <div id="alert" class="alert alert-danger alert-dismissible show flex items-center mb-2" role="alert"><i
                                data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                            {{ message }}
                            <button type="button" class="btn-close text-white" data-tw-dismiss="alert"
                                    aria-label="Close"><i
                                    data-lucide="x" class="w-4 h-4"></i></button>
                        </div>
                    {% endif %}

                    {% if message.tags == 'alert-success' %}
                        <div id="alert" class="alert alert-success alert-dismissible show flex items-center mb-2" role="alert"><i
                                data-lucide="alert-triangle" class="w-6 h-6 mr-2"></i>
                            {{ message }}
                            <button type="button" class="btn-close" data-tw-dismiss="alert" aria-label="Close"><i
                                    data-lucide="x" class="w-4 h-4"></i></button>
                        </div>

                    {% endif %}

                    {% if message.tags == 'alert-warning' %}
                        <div id="alert" class="alert alert-warning alert-dismissible show flex items-center mb-2" role="alert"><i
                                data-lucide="alert-circle" class="w-6 h-6 mr-2"></i>
                            {{ message }}

                            <button type="button" class="btn-close" data-tw-dismiss="alert" aria-label="Close"><i
                                    data-lucide="x" class="w-4 h-4"></i></button>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!-- END: Alerts -->

            <div id="app">

                <form ref="form" method="post">
                    {% csrf_token %}
                                        <tr>
                        <th><label for="id_new_password1">Nova senha:</label></th>
                        <td>

                            <input class="intro-x login__input form-control py-3 px-4 block mt-4" type="password" name="new_password1" autocomplete="new-password" required
                                   id="id_new_password1">

                            <br>
                            <span class="helptext"><ul><li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha comumente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></span>


                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_new_password2">Confirmação da nova senha:</label></th>
                        <td>

                            <input class="intro-x login__input form-control py-3 px-4 block mt-4" type="password" name="new_password2" autocomplete="new-password" required
                                   id="id_new_password2">


                        </td>
                    </tr>
                    <br>
                    <br>
                    <div style="text-align: center">
                        <div class="btn-group">
                            <button v-if="!clicked" v-on:click="userClicked"
                                    class="btn btn-primary py-3 px-4 w-full xl:w-34 xl:mr-3 align-top" type="submit">
                                Redefinir Senha
                            </button>
                            <button v-if="clicked" v-on:click="userClicked"
                                    class="btn btn-primary py-3 px-4 w-full xl:w-34 xl:mr-3 align-top">
                                <svg width="25" viewBox="-2 -2 42 42" xmlns="http://www.w3.org/2000/svg" stroke="white"
                                     class="w-4 h-4 ml-2">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(1 1)" stroke-width="4">
                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                            <path d="M36 18c0-9.94-8.06-18-18-18">
                                                <animateTransform attributeName="transform" type="rotate" from="0 18 18"
                                                                  to="360 18 18" dur="1s"
                                                                  repeatCount="indefinite"></animateTransform>
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                                &nbsp; Aguarde...
                            </button>
                        </div>

                    </div>

                </form>

            </div>


        </div>


    </div>
{% endblock %}
            