
<!DOCTYPE html>
{% load static %}
<html lang="pt" class="dark">
<!-- BEGIN: Head -->
<head>
    {% include 'meta.html' %}
    <link href="{% static 'dist/images/logo.svg' %}" rel="shortcut icon">
    <title>Erro 500</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="{% static 'dist/css/app.css' %}"/>
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="py-5 md:py-0">
<div class="container">
    <!-- BEGIN: Error Page -->
    <div class="error-page flex flex-col lg:flex-row items-center justify-center h-screen text-center lg:text-left">
        <div class="-intro-x lg:mr-20">
            <img class="h-48 lg:h-auto" src="{% static 'dist/images/error-illustration.svg' %}">
        </div>
        <div class="text-white mt-10 lg:mt-0">
            <div class="intro-x text-8xl font-medium">500</div>
            <div class="intro-x text-xl lg:text-3xl font-medium mt-5">Oopps! Ocorreu um erro inesperado.
            </div>
            <div class="intro-x text-lg mt-3">Nossos servidores estão passando por instabilidade. Fique tranquilo
                estamos cientes e trabalhando na
                correção.
            </div>
            <a href="{% url 'login' %}"
               class="intro-x btn py-3 px-4 text-white border-white dark:border-darkmode-400 dark:text-slate-200 mt-10">Início</a>
        </div>
    </div>
    <!-- END: Error Page -->
</div>

<!-- BEGIN: JS Assets-->
<script src="{% static 'dist/js/app.js' %}"></script>
<!-- END: JS Assets-->
</body>
</html>
            